@page "/keltove"

<div class="container" id="main-box">
    <Dropzone Cards="Cards"
              DefaultState="@TasksDataService.TaskTwoState["default"]"
              SuccessfulState="@TasksDataService.TaskTwoState["success"]"
              FailState="@TasksDataService.TaskTwoState["fail"]" 
              LeftColor="@LeftColor"
              RightColor="@RightColor"
              Max_Mistakes="1">
    </Dropzone>
</div>

@code {
    private List<Card> Cards = new List<Card>();
    private string LeftColor = "#c2d9fc";
    private string RightColor = "#afc1db";

    protected override void OnInitialized()
    {
        var words = TasksDataService.TaskTwo;
        Cards = words.ToList();
    }
}

