@page "/iguanodon"

<div class="container" id="main-box">
    <Dropzone Cards="Cards"
              DefaultState="@TasksDataService.TaskThreeState["default"]"
              SuccessfulState="@TasksDataService.TaskThreeState["success"]"
              FailState="@TasksDataService.TaskThreeState["fail"]"
              LeftColor="@LeftColor"
              RightColor="@RightColor"
              Max_Mistakes="0">
    </Dropzone>
</div>

@code {
    private List<Card> Cards = new List<Card>();
    private string LeftColor = "#31a8d4";
    private string RightColor = "#0e6382";

    protected override void OnInitialized()
    {
        var words = TasksDataService.TaskThree;
        Cards = words.ToList();
    }
}

