@page "/prvni"

@inject TasksDataService TasksService
@inject IModalService modal
@inject IJSRuntime JS

<div class="container" id="main-box">
    <Dropzone Cards="Cards"
              DefaultState="@TasksDataService.TaskOneState["default"]"
              SuccessfulState="@TasksDataService.TaskOneState["success"]"
              FailState="@TasksDataService.TaskOneState["fail"]"           
              LeftColor="@LeftColor"
              RightColor="@RightColor"
              Max_Mistakes="1">
    </Dropzone>
</div>

@code {
    private List<Card> Cards = new List<Card>();
    private string LeftColor = "#D89E4F";
    private string RightColor = "#AF6500";

    protected override void OnInitialized()
    {
        var words = TasksDataService.TaskOne;
        Cards = words.ToList();
    }
}
